.navbar-brand {
    margin-top: 1.6em;
    font-size: 22px;
}

.region-sidebar-first .block-views {
    margin-top: 1em;
    border: 1px solid #ddd;
    padding: 1em;
    background: white;
}

h2.block-title {
    font-size: 1.6em;
    color: #444;
    border-bottom: 2px solid #ddd;
    margin-top: 0;
    padding-bottom: 0.2em;
}

.forum-topics .views-row {
    background: url(../../../all/themes/bootstrap_subtheme/img/comment.png) no-repeat 0 4px;
    margin: 0.5em 0 0 0.2em;
    padding-left: 22px;
}

.node-forum-form .tabbable {
    display: none;
}

#poll-choice-wrapper button {
    margin-bottom: 1.5em;
}

@media all and (min-width:768px) {
    .navbar>.container .navbar-brand {
        font-size: 10px;
        margin-top: 1em;
    }
    
    .navbar-collapse {
        margin-top: 100px;
    }
    
    .col-sm-9 {
        width: 70%;
    }
    
    .col-sm-3 {
        width: 30%;
    }
}

@media all and (min-width:992px) {
    .navbar>.container .navbar-brand {
        font-size: 38px;
        margin-top: 0.85em;
    }
}